<!DOCTYPE html>
<html>
<head>
    <title>Ban List Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="main_ban">
<div class="ban_security">
    <h2>Securities Ban Result</h2>
    <table id="securities_ban_table">
        <thead>
            <tr>
                <th>SYMBOL</th>
                <th>Prev</th>
                <th>Curr</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="ban_entry">
    <h2>Possible Entrants Result</h2>
    <table id="possible_entrants_table">
        <thead>
            <tr>
                <th>SYMBOL</th>
                <th>Prev</th>
                <th>Curr</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="ban_exits">
    <h2>Possible Exits Result</h2>
    <table id="possible_exits_table">
        <thead>
            <tr>
                <th>SYMBOL</th>
                <th>Prev</th>
                <th>Curr</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'ban_list_dashboard' %}",
                method: "GET",
                success: function(response) {
                    console.log(response)
                    populateTable(response.securities_ban_result, "#securities_ban_table");
                    populateTable(response.possible_entrants_result, "#possible_entrants_table");
                    populateTable(response.possible_exits_result, "#possible_exits_table");
                },
                error: function() {
                    console.log("Error occurred while fetching data.");
                }
            });

            function populateTable(data, tableId) {
                var tableBody = $(tableId + " tbody");
                tableBody.empty();

                data.forEach(function(item) {
                    console.log(item)
                    var row = $("<tr></tr>");
                    row.append($("<td></td>").text(item.symbol_name));
                    row.append($("<td></td>").text(item.previous_percent));
                    row.append($("<td></td>").text(item.current_percent));
                    // Add more columns as needed

                    tableBody.append(row);
                });
            }
        });
    </script>
</body>
</html>
