{% extends "base_dashboard.html" %}
{% load static %}

{% block dashboard_body %}


<div class="container">

    <h1 class="text-center text-secondary">Welcome to Learning Center</h1>



    <div class="learning_main d-flex mt-3" style="flex-direction: row; flex-wrap: wrap;     justify-content: space-evenly;
    align-items: center;">

        <div class="leaning_boxes" style="width: 20rem;">
            <h5 class="text-center text-secondary">Trading Introduction</h5>
           
            <iframe width="320" height="245" src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="leaning_boxes" style="width: 20rem;">
            <h5 class="text-center text-secondary">Trading Introduction</h5>
           
            <iframe width="320" height="245" src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="leaning_boxes" style="width: 20rem;">
            <h5 class="text-center text-secondary">Trading Introduction</h5>
           
            <iframe width="320" height="245" src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="leaning_boxes" style="width: 20rem;">
            <h5 class="text-center text-secondary">Trading Introduction</h5>
           
            <iframe width="320" height="245" src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="leaning_boxes" style="width: 20rem;">
            <h5 class="text-center text-secondary">Trading Introduction</h5>
           
            <iframe width="320" height="245" src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="leaning_boxes" style="width: 20rem;">
            <h5 class="text-center text-secondary">Trading Introduction</h5>
           
            <iframe width="320" height="245" src="https://www.youtube.com/embed/videoseries?list=PLbLq81ZyYiocOcUD4XQ5FS7JOcfAL5MxF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div aria-label="Page navigation example " style="    margin-top: 1rem;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
</div>

{% endblock dashboard_body %}