{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}



  <div class="my-3" >
    <canvas id="myChart"></canvas>
  </div>

  <script>
    var pcrValues = {{ pcr_values| safe }};
    var indexCloseValues = {{ index_close_values| safe }};
    var timeValues = {{ time_values| safe }};

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: timeValues,
        datasets: [{
          label: 'PCR',
          data: pcrValues,
          yAxisID: 'pcr-axis',
          borderColor: 'rgb(75, 192, 192)',
          backgroundColor: 'rgb(75, 192, 192, 0.2)',
        }, {
          label: 'Index Close',
          data: indexCloseValues,
          yAxisID: 'index-close-axis',
          borderColor: 'rgb(192, 75, 75)',
          backgroundColor: 'rgb(192, 75, 75, 0.2)',
        }]
      },
      options: {
    scales: {
        yAxes: [{
            id: 'pcr-axis',
            type: 'linear',
            position: 'left',
            ticks: {
                beginAtZero: true
            },
            scaleLabel: {
                display: true,
                labelString: 'PCR Value'
            }
        }],
        yAxes: [{
            id: 'index-close-axis',
            type: 'linear',
            position: 'right',
            ticks: {
                beginAtZero: true
            },
            scaleLabel: {
                display: true,
                labelString: 'Index Close'
            }
        }]
    }
}


    });
  </script>



{% endblock dashboard_body %}