{% extends "base_dashboard.html" %}
{% load static %}
{% block dashboard_body %}
<style>
  .desc_usage_active {
    color: #011490;
    text-align: center;
    border-bottom: 2px solid #011490;
    font-size: 21px;
    font-weight: 600;
  }

  .col-4 {
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .head_image {
      width: fit-content !important;
    }
    canvas[Attributes Style] {
      aspect-ratio: auto 400 / 400 !important;
    }
  }
</style>
<div class="container">
    <div class="main_head_strategies border-bottom my-4">
        <div
          class="strategies d-flex mt-4"
          style="align-items: center; gap: 0.3rem"
        >
          <h4 class="">Rocket Call</h4>
          <span>
            <i
              class="bi bi-exclamation-circle"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            ></i>
          </span>
        </div>
      </div>
      <div class="collapse" id="collapseExample" style="margin-bottom: 25px">
        <div class="card card-body">
          <div class="antd-pro-components-markdown-index-markdownStyle">
            <p>BSE NSE Holidays 2023 List</p>
            <ul>
              <li>Below are the NSE F&O Lot Size for the stocks and indices traded on NSE.</li>
             
            </ul>
          </div>
        </div>
      </div>


      <div class="description_usage my-4">
        <div class="head_desc_usage">
          <div class="row border-bottom">
            <div
              class="chart-header col-4"
              onclick="filterChart('fii_dii')"
              data-btn-id="1"
              style="font-size: 21px"
            >
            Stock Calls
            </div>
            <div
              class="chart-header col-4"
              onclick="filterChart('fii')"
              data-btn-id="2"
              style="font-size: 21px"
            >
            Nifty & Bank Nifty Calls
            </div>
            <div
              class="chart-header col-4"
              onclick="filterChart('dii')"
              data-btn-id="3"
              style="font-size: 21px"
            >
            Bulls Eye
            </div>
          </div>
          <div class="main_desc_usage mt-4" id="main_desc_usage"></div>
        </div>
      </div>






      <div id="chartContainer " style="height: 100%">
        <div class="dii_fii" id="dii_fii" style="width: 100%; height: 80%">
          <h5 class="text-center">Stock Calls</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="fii" id="fii" style="width: 100%; height: 80%">
          <h5 class="text-center">Nifty & Bank Nifty Calls </h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="dii" id="dii" style="width: 100%; height: 80%">
          <div class="col-4" id="Bulleye">
            <h5 class="text-center">Bulls Eye</h5>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
      </div>




</div>

<script>
  // Function to show or hide charts based on filter selection
  var dii_fii = document.getElementById("dii_fii");
  var fii = document.getElementById("fii");
  var dii = document.getElementById("dii");
  dii_fii.style.display = "block";

  fii.style.display = "none";
  dii.style.display = "none";
  function filterChart(filter) {
    var dii_fii = document.getElementById("dii_fii");
    var fii = document.getElementById("fii");
    var dii = document.getElementById("dii");
    var chartContainer = document.getElementById("chartContainer");

    if (filter === "fii_dii") {
      dii_fii.style.display = "block";

      fii.style.display = "none";
      dii.style.display = "none";
    } else if (filter === "fii") {
      dii_fii.style.display = "none";
      fii.style.display = "block";
      dii.style.display = "none";
    } else if (filter === "dii") {
      dii_fii.style.display = "none";
      fii.style.display = "none";
      dii.style.display = "block";
    }
  }
  $(document).ready(function () {
    $("[data-btn-id]:first-child").addClass("desc_usage_active");
    // Filter button click event
    $("[data-btn-id]").click(function () {
      var btnId = $(this).attr("data-btn-id");
      filterResults(btnId);
      changeButtonColor($(this));
    });

    // Initial filtering (optional)
    filterResults(1);
    // Function to filter results
    function filterResults(btnId) {
      // Clear previous results
      // Filter elements based on btnId
    }

    // Function to change button color
    function changeButtonColor(button) {
      // Reset color of all buttons
      $("[data-btn-id]").removeClass("desc_usage_active");

      // Add color to the clicked button
      button.addClass("desc_usage_active");
    }
  });
</script>


{% endblock dashboard_body %}