var pcr_value = data.put_call_ratio
$(".pcr_value").text(pcr_value.toFixed(4))
// console.log(data.india_spot_data);
$('.chart_tracking_view').empty()
$('.chart_tracking_view').append("<a href='https://www.tradingview.com/chart/MgiGDMYM/?symbol=" + data.india_spot_data.symbol_name + "&aff_id=113877' target='_blank'><i class='bx bx-line-chart'></i></a>");
var oi_pcr = data.oi_pcr
$(".oi_value").text(oi_pcr.toFixed(4))
var lot_size_value = data.india_spot_data.lot_size
$(".lot_size_value").text(lot_size_value)
var india_vix_value = data.India_vix_data.last_trade_price
$(".india_vix_value").text(india_vix_value)
var max_pain_value = data.india_spot_data.max_pain
$(".max_pain_value").text(max_pain_value)
var high_round= data.india_spot_data.high
var low_round= data.india_spot_data.low
console.log(high_round,low_round);
var expected_values =data
$(".expected_values").text(expected_values)




<div class="pcr_main">
  <p>PCR</p>
  <p class="pcr_value"></p>
</div>
<div class="oi_pcr">
  <p>CHG OI PCR</p>
  <p class="oi_value"></p>
</div>
<div class="lot_size">
  <p>Lot Size</p>
  <p class="lot_size_value"></p>
</div>
<div class="india_vix">
  <p>India Vix</p>
  <p class="india_vix_value"></p>
</div>
<div class="max_pain">
<p>Max Pain</p>
<p class="max_pain_value"></p>
</div>

<div class="expected_range">
<p>Expected Range</p>
<p class="expected_values"></p>
</div>
