<!DOCTYPE html>
<html>

<head>
  <title>Doughnut Chart Example</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  </style>
</head>

<body>
  <canvas id="Doughnut_chart"></canvas>

  <script>
    var data = {
      labels: ["Yandex", "YouTube", "Google", "Facebook", "Instagram"],
      datasets: [{
        data: [2742, 3272, 2303, 1434, 799],
        backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4BC0C0", "#9966FF"],
        hoverBackgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "#4BC0C0", "#9966FF"]
      }]
    };

    var options = {
      responsive: true,
      cutoutPercentage: 50,
      tooltips: {
        callbacks: {
          label: function (tooltipItem, data) {
            var dataset = data.datasets[tooltipItem.datasetIndex];
            var value = dataset.data[tooltipItem.index];
            return data.labels[tooltipItem.index] + ": $" + value.toLocaleString();
          }
        }
      }
    };

    var chart = new Chart("Doughnut_chart", {
      type: "doughnut",
      data: data,
      options: options
    });
  </script>
</body>

</html>
