<!-- template.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Volume Shocker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <h1>OI gainer</h1>
    <table id="Oi_gainer_data">
        <thead>
            <tr id="columnHeaders">
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $.ajax({
                url: 'oi_gainers',
                method: 'GET',
                success: function(data) {
                    createTable(data);
                },
                error: function(error) {
                    console.log(error);
                }
            });

            function createTable(data) {
                const tableBody = $('#Oi_gainer_data tbody');
                const tableHeaders = $('#columnHeaders');

                // Create table headers
                const columnHeaders = data.columns.map(function(column) {
                    return '<th>' + column + '</th>';
                });
                tableHeaders.html(columnHeaders.join(''));

                // Create table rows
                const tableRows = data.data.map(function(row) {
                    return '<tr>' +
                        '<td>' + row[0] + '</td>' +  // name
                        '<td>' + row[1] + '</td>' +  // price
                        '<td>' + row[2] + '</td>' +  // Date Chang
                        '<td>' + row[3] + '</td>' +  // Volume Contracts
                        '<td>' + row[4] + '</td>' +  // % Volume Contracts
                        '<td>' + row[5] + '</td>' +  // TTV
                        '<td>' + row[6] + '</td>' +  // OI
                        '<td>' + row[7] + '</td>' +  // %OI
                        '<td>' + row[8] + '</td>' +  // Basis
                        '<td>' + row[9] + '</td>' +  // COC
                        '<td>' + row[10] + '</td>' + // Spot
                        '<td>' + row[11] + '</td>' + // Build Up
                        '</tr>';
                });
                tableBody.html(tableRows.join(''));
            }
        });
    </script>
</body>

</html>
