<!DOCTYPE html>
<html>
<head>
    <title>Option Chain</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Option Chain</h1>
    <form id="optionForm" method="post" action="{% url "tests" %}">
        {% csrf_token %}
        <select id="symbolSelect" name="symbols">
            <option value="NIFTY" selected>-- Select Symbol --</option>
            <option value="NIFTY">NIFTY</option>
            <option value="BANKNIFTY">BANKNIFTY</option>
            
        </select>
        <select id="expirySelect" disabled name="expiryDates">
            <option value="">-- Select Expiry --</option>
        </select>
        <button type="submit">Submit</button>
    </form>


<table>
    <tr>
        <th>PRICE</th>
    </tr>
    <tr>
        {% for i in dataframe %}
          <td>{{i.expiryDate}}</td>
        {% endfor %}

    </tr>

</table>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#symbolSelect').change(function() {
                const selectedSymbol = $(this).val();
    
                if (selectedSymbol === '') {
                    $('#expirySelect').prop('disabled', true);
                    $('#expirySelect').html('<option value="">-- Select Expiry --</option>');
                    return;
                }
    
                $.ajax({
                    url: '{% url "get_option_chain" %}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        'symbol': selectedSymbol
                    },
                    success: function(response) {
                        if (response.expiry_dates) {
                            $('#expirySelect').prop('disabled', false);
                            $('#expirySelect').html('<option value="">-- Select Expiry --</option>');
    
                            const expiryDates = response.expiry_dates;
                            $.each(expiryDates, function(index, date) {
                                $('#expirySelect').append($('<option>', {
                                    value: date,
                                    text: date
                                }));
                            });
                        } else {
                            console.error('Invalid response format');
                        }
                    },
                    error: function(xhr, textStatus, error) {
                        console.error(error);
                    }
                });
            });
    
        //     $('#optionForm').submit(function(e) {
        //         e.preventDefault();
        //         const symbol = $('#symbolSelect').val();
        //         const expiry = $('#expirySelect').val();
    
        //         // Perform further actions based on the selected symbol and expiry
        //         console.log('Selected Symbol:', symbol);
        //         console.log('Selected Expiry:', expiry);
        //     });
        });
    </script>
    
    </script>
    </dody>
</html>